h1{
    color: rgb(242, 239, 245);
    background-color: rgb(70, 2, 2);
    text-align: center;
    
}

p{
    color: rgb(247, 238, 239);
    background-color: rgb(73, 235, 122);
}
#memories {
    color: rgb(10, 10, 10);
    background-color: rgb(56, 67, 230);
}
.warnasatu{
    color: rgb(19, 18, 18);
    background-color: pink;
    text-align: center;
}
.warnadua{
    color: white;
    background-color: rgb(248, 109, 109);
    text-align: center;
}
.warnatiga{
    color: rgb(235, 144, 144);
    background-color: rgb(83, 241, 168);
    text-align: center;
}
#kotak-satu{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin-bottom: 10px;
}
#kotak-dua{
    height: 200px;
    width: 400px;
    background-color: rgb(66, 12, 116);
}
#kotak-tiga{
    height: 300px;
    width: 500px;
    background-color: rgb(24, 4, 43);
}
#biging {
    width: 500px;
    height: 200px;
    color: aliceblue;
    background-color: brown;
    background-image: url("../images/coding1.jpg");
    background-size: cover;
    border-radius: 20px;
}
#biging h2{
    text-align: center;
    padding-top: 80px;
}
#bikinpattern{
    width: 500px;
    height: 200px;
    color: rgb(230, 100, 14);
    background-color: brown;
    background-image: url("../images/pattern2.jpg");
    border-radius: 20px;
   background-repeat: repeat;
}
#bikinpattern h2{
    text-align: center;
    padding-top: 80px;
}

